services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: host.docker.internal
      DB_PORT: 5432
      DB_NAME: ${DB_NAME}
    ports:
      - "8000:8000"

    volumes:
      - ./backend:/app
      - ./backend/app/ml/artifacts:/app/app/ml/artifacts
    extra_hosts:
      - "host.docker.internal:host-gateway" 

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:8000

